{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


{{block body}}
{{if total == 0:}}Your Shopping cart is empty
{{else:}}
<div class="checkout-page-products-list">
    <div class="checkout-page-products-list-container">
        <div id="check_product_review">
            <div class="category-title" style="border-bottom: 1px solid #888888; margin-bottom: 10px;"><h2>Cart</h2></div>
            {{for item in items:}}
                <div class="check_individual_product" id="order_id_{{=item['product_id']}}">
                    <div class="product_img">
                        <img id="260" src="/Dropshipping/static/images/Product/{{=item['image_path']}}.jpg" width="100">
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <span class="info_title"> {{=item['title']}}</span>
                            <span class="info_price"> ${{=item['sale_price']}}</span>
                        </div>

                        <div class="product_qty" style="width: 100%;">
                            Quantity: {{=item['qty']}}
                        </div>

                        <div style="width: 100%; padding: 5px; float: left; display: flex; align-items: flex-start; justify-content: flex-start;">
                            <div onclick="remove_from_cart( {{=item['product_id']}} , {{=item['qty']}})" class="checkout_remove" style="float: right;"></div>
                        </div>
                    </div>
                </div>
            {{pass}}
            <div id="promotion_row">
                <span class="data_entry">
                    <input style="width: 200px;height: 36px" type="text" placeholder="Promotion Code">
                    <input type="button" value="Apply" style="width: 100px; background: #ff5a5f; color: white; border: none;">
                </span>
            </div>
            <div id="total_row">
                Subtotal (<span id="number_of_items">{{=total}}</span> items): $<span id="total_price">{{=total_price}}</span>
            </div>
        </div>

        <div class="checkout-page-payment-and-address">
            <div id="checkout_container">
                <div class="category-title" style="border-bottom: 1px solid #888888; margin-bottom: 10px;"><h2>Name & Address</h2></div>
                <div id="cart_items"></div>
                <div id="payment_container">
                    <div id="check_product_payment" style="display: flex; flex-direction: column;">
                        <div class="check_shipping" style=" width: 100%;">
                            <span class="data_entry">
                                <input type="text" id="full_name" placeholder="Full Name *" class="required">
                                <span class="show_error" id="err_full_name"></span>
                            </span>
                            <span class="data_entry">
                                <input type="text" id="address1" placeholder="Address *" class="required">
                                <span class="show_error" id="err_address2"></span>
                            </span>

                            <span class="data_entry">
                                <input type="text" id="address2" placeholder="Address 2">
                                <span class="show_error" id="err_address2"></span>
                            </span>

                            <span class="data_entry">
                                <input type="text" id="city" placeholder="City *" class="required">
                                <span class="show_error" id="err_city"></span>
                            </span>

                            <span class="data_entry">
                                <input type="text" id="zip" placeholder="ZIP Code *" class="required">
                                <span class="show_error" id="err_zip"></span>
                            </span>
                        </div>

                        <div class="check_payment">
                            <div class="category-title" style="border-bottom: 1px solid #888888; margin-bottom: 10px;"><h2>Payment Information</h2></div>
                            <span class="data_entry">
                                <input type="text" id="cc_name" placeholder="Name on the card *" class="required">
                                <span class="show_error" id="err_cc_name"></span>
                            </span>

                            <span class="data_entry">
                                <input type="text" id="cc_number" placeholder="Card Number *" class="required_card_num">
                                <span class="show_error" id="err_cc_number"></span>
                            </span>

                            <span class="data_entry">
                                <select id="cc_exp_month" class="lefty" style="margin-right: 7px">
                                    <option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>                </select>
                                <select id="cc_exp_year" class="lefty" style="margin-right: 7px">
                                    <option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option>                </select>
                                <input class="lefty required" id="cvv" style="width: 75px;margin-right: 7px;margin-top: 0px" type="text" placeholder="CVV*">
                                <span class="show_error" id="err_cvv"></span>
                            </span>

                            <span class="data_entry">
                                <input type="text" id="email" placeholder="Email *" class="required">
                                <span class="show_error" id="err_email"></span>
                            </span>
                                <span class="data_entry"><input type="button" id="checkout_btn" value="Checkout" style="background: #ff5a5f; color: white; border: none;"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{pass}}


{{end}}







