{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block feature}}
    <div class="owl-carousel" id="feature-slider" >
        <div class="feature-item"><img src="{{=URL('static', 'images/shopmac.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/PSVR.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
    </div>
{{end}}

{{block body}}
    <div class="smaller-wrapper">
        <div class="category-title" style="justify-content: flex-start"><h3>4K Ultra HD TVs</h3></div>
            <div class="owl-carousel" id="product-carousel">
            {{for tv in televisions:}}
                <div class="item">
                    <div id="product-image" style="cursor:pointer" onclick="location.href='/dropshipping/default/product?product_id={{=tv['product_id']}}'"><img src="/dropshipping/static/images/Product/{{=tv['image_path']}}.jpg" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px;">
                        <h5 style="overflow: hidden; white-space: nowrap;">{{=(tv['title'][:35] + '..') if len(tv['title']) > 35 else tv['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(tv['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="{{=tv['product_id']}}" class="add-to-cart">Add to Cart</div>
                    </div>
                </div>
                <div style="display:none;" id="p_title{{=tv['product_id']}}">{{=tv['title']}}</div>
                <div style="display:none;" id="p_img{{=tv['product_id']}}">{{=tv['image_path']}}</div>
                <div style="display:none;" id="p_desc{{=tv['product_id']}}">{{=tv['description']}}</div>
                <div style="display:none;" id="p_price{{=tv['product_id']}}">$ {{ ="{0:.2f}".format(tv['price']) }}</div>
            {{pass}}
            </div>

        <div class="product-advertisement">
            <img src="{{=URL('static','images/studio.jpg')}}"/>
        </div>

        <!-- computers and tablets -->
        <div class="category-title" style="justify-content: flex-start"><h3>Computers & Tablets</h3></div>
            <div class="owl-carousel" id="product-carousel2">
            {{for comp in computers:}}
                <div class="item">
                    <div id="product-image" style="cursor:pointer" onclick="location.href='/dropshipping/default/product?product_id={{=comp['product_id']}}'"><img src="/dropshipping/static/images/Product/{{=comp['image_path']}}.jpg" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px; overflow: hidden; white-space: nowrap;">
                        <h5>{{=(comp['title'][:35] + '..') if len(comp['title']) > 35 else comp['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(comp['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="{{=comp['product_id']}}" class="add-to-cart">Add to Cart</div>
                    </div>
                </div>
                <div style="display:none;" id="p_title{{=comp['product_id']}}">{{=comp['title']}}</div>
                <div style="display:none;" id="p_img{{=comp['product_id']}}">{{=comp['image_path']}}</div>
                <div style="display:none;" id="p_desc{{=comp['product_id']}}">{{=comp['description']}}</div>
                <div style="display:none;" id="p_price{{=comp['product_id']}}"> $ {{="{0:.2f}".format(comp['price']) }}</div>
            {{pass}}
            </div>

        <!-- cat game -->
        <div class="category-title" style="justify-content: flex-start"><h3>Gaming</h3></div>
            <div class="owl-carousel" id="product-carousel3">
            {{for game in gaming:}}
                <div class="item">
                    <div id="product-image" style="cursor:pointer" onclick="location.href='/dropshipping/default/product?product_id={{=game['product_id']}}'"><img src="/dropshipping/static/images/Product/{{=game['image_path']}}.jpg" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px; overflow: hidden; white-space: nowrap;">
                        <h5>{{=(game['title'][:25] + '..') if len(game['title']) > 25 else game['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(game['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="{{=game['product_id']}}" class="add-to-cart">Add to Cart</div>
                    </div>
                </div>
                <div style="display:none;" id="p_title{{=game['product_id']}}">{{=game['title']}}</div>
                <div style="display:none;" id="p_img{{=game['product_id']}}">{{=game['image_path']}}</div>
                <div style="display:none;" id="p_desc{{=game['product_id']}}">{{=game['description']}}</div>
                <div style="display:none;" id="p_price{{=game['product_id']}}"> ${{ ="{0:.2f}".format(game['price']) }}</div>
            {{pass}}
            </div>
    </div>
{{end}}

{{block right_sidebar}}



<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Tvs</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/TV.jpg')}}" alt="Owl Image" width="100%"></div>
<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Mac</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/Explore.jpg')}}" alt="Owl Image" width="100%"></div>
{{end}}

{{block bottom_ad}}
    <div style="width: 100%;">
        <div class="product-advertisement">
                <img src="{{=URL('static','images/CannonAd.jpg')}}"/>
        </div>
    </div>
{{end}}


