{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block feature}}
    <div class="owl-carousel" id="feature-slider" >
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
    </div>
{{end}}

{{block body}}
    <div class="smaller-wrapper">
        <div class="category-title"><h3>4K Ultra HD TVs</h3></div>
            <div class="owl-carousel" id="product-carousel">
            {{for tv in televisions:}}
                <div class="item">
                    <div id="product-image"><img src="http://localhost:8000/dropshipping/static/images/{{=tv['image_path']}}.png" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px;">
                        <h5>{{=(tv['title'][:35] + '..') if len(tv['title']) > 35 else tv['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(tv['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="1" class="add-to-cart"><strong>Add to Cart</strong></div>
                    </div>
                </div>
            {{pass}}
            </div>

        <div class="product-advertisement">
            <img src="{{=URL('static','images/studio.jpg')}}"/>
        </div>

        <!-- computers and tablets -->
        <div class="category-title"><h3>Computers & Tablets</h3></div>
            <div class="owl-carousel" id="product-carousel2">
            {{for comp in computers:}}
                <div class="item">
                    <div id="product-image"><img src="http://localhost:8000/dropshipping/static/images/{{=comp['image_path']}}.png" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px;">
                        <h5>{{=(comp['title'][:35] + '..') if len(comp['title']) > 35 else comp['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(comp['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="1" class="add-to-cart"><strong>Add to Cart</strong></div>
                    </div>
                </div>
            {{pass}}
            </div>

        <!-- cat game -->
        <div class="category-title"><h3>Gaming</h3></div>
            <div class="owl-carousel" id="product-carousel3">
            {{for game in gaming:}}
                <div class="item">
                    <div id="product-image"><img src="http://localhost:8000/dropshipping/static/images/{{=game['image_path']}}.png" alt="Owl Image"></div>
                    <div class="item-text" style="margin: 0; padding: 5px;">
                        <h5>{{=(game['title'][:35] + '..') if len(game['title']) > 35 else game['title']}}</h5>
                        <div class="item-price-cart">
                            <div class="item-price"><strong>${{="{0:.2f}".format(game['price'])}}</strong></div>
                            <div class="learn-more"><i>Learn More</i></div>
                        </div>
                        <div id="1" class="add-to-cart"><strong>Add to Cart</strong></div>
                    </div>
                </div>
            {{pass}}
            </div>
    </div>
{{end}}

{{block right_sidebar}}


<div class="side-categories" style="flex-direction: column;">
    <div class="category-title"><h2 style="margin: 0; padding: 0px;">Categories</h2></div>

    <select class="category-drop-down">
      <option value="select">Select</option>
      <option value="tv">TVs</option>
      <option value="computer">Computers</option>
      <option value="computer">Tablets</option>
      <option value="gaming">Gaming</option>
    </select>
</div>

<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Tvs</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/TV.jpg')}}" alt="Owl Image" width="100%"></div>
<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Mac</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/Explore.jpg')}}" alt="Owl Image" width="100%"></div>
{{end}}
