{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


<div id="order_history">
    <div class="order_history">
        <div class="oh">
             <table class="oh_table">
                 <tr>
                     <th class="oh_order"> <b>  Purchase Order # </b> </th>
                     <th class="oh_order"> <b> Order Placed</b> </th>
                     <th class="oh_order"> <b> Total </b> </th>
                     <th class="oh_order"> <b> Ship To </b> </th>
                 </tr>
                 <tr>
                     {{for i in range(0, len(po_info)):}}
                     <td class="oh_order"> <a class="purchase_order" href='http://localhost:8000/Dropshipping/default/po_page?purchase_order_no={{=po_info[i]['purchase_order_no']}}'>
                                            {{=po_info[i]['purchase_order_no']}} </a> </td>
                     <td class="oh_order"> {{=po_info[i]['sale_date']}} </td>
                     <td class="oh_order"> {{=po_info[i]['total_price']}} </td>
                     <td class="oh_order"> {{=po_info[i]['full_name']}} </td>
                     {{pass}}
                 </tr>
             </table>
        </div>
    </div>
</div>