{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="order_container">
    <div class="po">
        <div class="po_order">
            <h1 class="po_title" style="text-align: center"> Final Details for Order <span style='color:black; text-decoration:underline'>{{=po_info[0]['purchase_order_no']}}</span> </h1>

            <ul class="po_detail" style="text-align: center; background:#ff5a5f;">
                <li class="li-order_po"> <b> ORDER PLACED ON:</b> {{=po_info[0]['sale_date']}} </li>
                <li class="li-order_po"> <b> INVOICE: </b> {{=po_info[0]['purchase_order_no']}} </li>
                <li class="li-order_po"> <b> ORDER TOTAL: </b> {{=po_info[0]['total_price']}} </li>
                <li class="li-order_po"> <b> Shipped on: </b>{{=po_info[0]['sale_date']}} </li>
            </ul>

            <h2 class="po_title"> <b> Purchased Product </b> </h2>

            <div class="po_order_list">
                <div id="purchased_product_list">
                    <div class="po_items"> <h3> <b> <u>Item Order</u> </b> </h3> </div>
                    <div class="po_items text-center"> <h3> <b> <u>Price</u> </b> </h3> </div>
                    <div class="po_items text-right"> <h3> <b> <u>Quantity</u> </b> </h3> </div>
                </div>
                <br>
                {{for i in range (0,len(product_list)):}}
                    <div id="po_list_of_items">
                        <div class="po_items"> {{=product_list[i]['title']}} </div>
                        <div class="po_items text-center"> {{=product_list[i]['sale_price']}} </div>
                        <div class="po_items text-right"> {{=product_list[i]['qty']}} </div>
                    </div>
                    <div class="po_order_item">
                        <div> {{=product_list[i]['manufacturer']}} </div>
                    </div>
                {{pass}}
            </div>

            <h2 class="po_title"> <b> Shipping </b> </h2>

            <div class="po_order_list">
                <ul class="po_order_misc_info_1">
                    <li> <b> <u>Shipping Address</u> </b> </li>
                    <li> {{=po_info[0]['full_name']}} </li>
                    <li>  {{=po_info[0]['address_1']}} </li>
                    <li> {{=po_info[0]['city']}}, {{=po_info[0]['state']}} {{=po_info[0]['zip_code']}} </li>
                    <br>
                    <br>
                    <li> <b> <u>Shipping Speed: </u></b> </li>
                    <li>  {{=po_info[0]['shipping_method']}} </li>
                </ul>
                <ul class="po_order_misc_info_2">
                    <li> Item(s) Subtotal: <span class="po_float_right">{{=po_info[0]['subtotal']}}</span></li>
                    <li> Shipping & Handling: <span class="po_float_right">{{=po_info[0]['shipping_price']}}</span></li>
                    <li class="po_misc"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </li>
                    <li> Total before tax: <span class="po_float_right">{{=po_info[0]['subtotal']}}</span> </li>
                    <li> Sales tax: <span class="po_float_right">{{=po_info[0]['tax']}}</span> </li>
                    <li class="po_misc"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </li>
                    <li> <h3> <b>Total for This Shipment: </b>{{=po_info[0]['total_price']}} </h3></li>
                </ul>
            </div>

            <h2 class="po_title"> <b> Payment Information </b> </h2>

            <div class="po_order_list">
                <ul class="po_order_misc_info_1">
                    <li> <b> Payment Method: </b> </li>
                    <li> Card ending:  {{=po_info[0]['credit_card_last_4']}} </li>
                    <li> <br> </li>
                    <li> <b> Billing Address </b> </li>
                    <li> {{=po_info[0]['full_name']}} </li>
                    <li> {{=po_info[0]['address_1']}} </li>
                    <li> {{=po_info[0]['city']}}, {{=po_info[0]['state']}} {{=po_info[0]['zip_code']}}</li>
                </ul>
                <ul class="po_order_misc_info_2">
                    <li> Item(s) Subtotal: <span class="po_float_right">{{=po_info[0]['subtotal']}}</span> </li>
                    <li> Shipping & Handling:  <span class="po_float_right">{{=po_info[0]['shipping_price']}}</span> </li>
                    <li class="po_misc"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </li>
                    <li> Total before tax: <span class="po_float_right">{{=po_info[0]['subtotal']}}</span> </li>
                    <li>Estimated tax collected:  <span class="po_float_right">{{=po_info[0]['tax']}}</span> </li>
                    <li class="po_misc"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </li>
                    <li> <b> Grand Total: <span class="po_float_right">{{=po_info[0]['total_price']}}</span> </b> </li>
                </ul>

                <div class="po_order_misc" style="text-align: center">
                    <ul>
                        <li> <b> Credit Card Transactions </b> {{=po_info[0]['credit_card_last_4']}}
                            : {{=po_info[0]['sale_date']}} : {{=po_info[0]['total_price']}} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>