{{right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}


{{block body}}

{{end}}

{{block right_sidebar}}


<div class="side-categories" style="flex-direction: column;">
    <div class="category-title"><h2 style="margin: 0; padding: 0px;">Categories</h2></div>

    <select class="category-drop-down">
      <option value="select">Select</option>
      <option value="tv">TVs</option>
      <option value="computer">Computers</option>
      <option value="computer">Tablets</option>
      <option value="gaming">Gaming</option>
    </select>
</div>

<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Tvs</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/TV.jpg')}}" alt="Owl Image" width="100%"></div>
<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Mac</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/Explore.jpg')}}" alt="Owl Image" width="100%"></div>
{{end}}

{{block bottom_ad}}
    <div style="width: 100%;">
        <div class="product-advertisement">
                <img src="{{=URL('static','images/CannonAd.jpg')}}"/>
        </div>
    </div>
{{end}}


