{{right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}


{{block body}}

        <div class="side-categories" style="flex-direction: column;">
            <div class="category-title"><h2 style="margin: 0; padding: 0px;">Categories</h2>

            <select class="category-drop-down">
                  <option value="select">Select</option>
                  <option value="tv">TVs</option>
                  <option value="computer">Computers</option>
                  <option value="computer">Tablets</option>
                  <option value="gaming">Gaming</option>
                </select>
            </div>
            </div>

        {{for pp in selective_products:}}
        <div class="products-page-items-list">
            {{pp['image_path']}}
            <div class="products-page-item-image">
                <div id="product-image" style="cursor:pointer" onclick="location.href='http://localhost:8000/dropshipping/default/product?product_id={{=pp['product_id']}}'"><img width="100%" src="http://localhost:8000/dropshipping/static/images/Product/{{=pp['image_path']}}.jpg" alt="Owl Image"></div>
                <div style="display: none" id="p_img{{=pp['product_id']}}">{{=pp['image_path']}}</div>
            </div>

            <div class="products-page-item-description">
                <div class="products-page-item-title"><h2><strong>{{pp['title']}}</strong></h2></div>
                <div class="products-page-item-description-under-title"><h4 id="p_title{{=pp['product_id']}}">{{=pp['title']}}</h4></div>
                <div class="products-page-item-rating"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"></div>
                <div class="products-page-item-price"><h3><strong id="p_price{{=pp['product_id']}}">{{=pp['price']}}</strong></h3></div>
                <div id="{{=pp['product_id']}}" class="add-to-cart" style="width: 175px; margin: 10px;"><strong>Add to Cart</strong></div>
                <div class="products-page-item-view-item"><strong>View Item</strong></div>
            </div>
        </div>
        {{pass}}

{{end}}

{{block right_sidebar}}


<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Tvs</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/TV.jpg')}}" alt="Owl Image" width="100%"></div>
<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Mac</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/Explore.jpg')}}" alt="Owl Image" width="100%"></div>
{{end}}

{{block bottom_ad}}
    <div style="width: 100%;">
        <div class="product-advertisement">
                <img src="{{=URL('static','images/CannonAd.jpg')}}"/>
        </div>
    </div>
{{end}}


