{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block page_js}}
    <!-- OWL CAROUSEL JAVASCRIPTS -->
<script src="{{=URL('static','js/jquery-1.9.1.min.js')}}" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{{=URL('static','js/owl.carousel.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.feature.js')}}"></script>
    <script src="{{=URL('static','js/carousel.js')}}"></script>
    <script src="{{=URL('static','js/nav.js')}}"></script>
{{end}}

{{block body}}
        <div class="product-outer-wrapper">
            <div class="product-container">
                <div class="product-image-carousel">
                    <img width="400"  src="/Dropshipping/static/images/Product/{{=product['image_path']}}.jpg" alt="Owl Image">
                </div>

                <div class="product-item-description-container">
                    <div class="product-item-description-title"><h3 id="p_title{{=product['product_id']}}">{{=product['title']}}</h3></div>
                    <div class="item-number"></div>
                    <div class="rating"><img alt="product['title']" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"></div>
                    <div class="in-stock"><img alt="approve, approved, check, good, ok, tick, yes icon" class="tiled-icon" style="max-width: 15px; max-height: 15px;" src="https://cdn0.iconfinder.com/data/icons/free-misc-icon-set-1/512/check-128.png"> In Stock</div>
                    <div class="product-price"><strong id="p_price{{=product['product_id']}}">${{=product['price']}}</strong></div>
                    <div id="{{=product['product_id']}}" class="add-to-cart" style="width: 175px;"><strong>Add to Cart</strong></div>
                    <div style="display: none" id="p_img{{=product['product_id']}}">{{=product['image_path']}}</div>
                </div>

            </div>
            <div class="product-description">
                <div class="product-item-description-title">
                        <h3>Item Description</h3>
                    </div>
                    {{=product['description']}}
            </div>
        </div>

        

        </div>

            </div>


            <div class="category-title"><h3 style="margin: 0 auto; padding: 0px; margin-top: 40px;">Customer Reviews</h3></div>
            <div id="error_show" style="margin: 0 auto;text-align: center;color: red;"></div>
            <div style="text-align: center;margin: 0 auto;" id="add_review_container">

                <input style="margin-bottom: 10px;padding-left: 5px" type="text" id="add_review_name" placeholder="Name">
                <br>
                <textarea id="customer_review_txt" placeholder="Leave a review..."></textarea><br>
                <br>
                Rank
                <input type="radio" name="rank" value="1">1</input>
                <input type="radio" name="rank" value="2">2</input>
                <input type="radio" name="rank" value="3">3</input>
                <input type="radio" name="rank" value="4">4</input>
                <input type="radio" name="rank" value="5">5</input>
                <br>
                <input class="btn_save" value="Save" type="button" onclick="save_review({{=product['product_id']}})">
            </div>

            <div class="inner" style="width: 100%; padding:20px;">
                <div class="rating"></div>

                {{for review in reviews[0]:}}
                <div id="review-container">
                    <div class="reviewer-name"><h4>{{=review['name']}}</h4></div>
                        {{for star in range(int(review['stars'])):}}
                            <img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png">
                        {{pass}}
                    <div class="review-description">{{=review['review_text']}}</div>
                </div>
                {{pass}}
            </div>
        </div>
{{end}}
