{{right_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}


{{block body}}

        <div class="side-categories" style="flex-direction: column;">
            <div class="category-title"><h2 style="margin: 0; padding: 0px;">Categories</h2>

            <select class="category-drop-down">
                  <option value="select">Select</option>
                  <option value="tv">TVs</option>
                  <option value="computer">Computers</option>
                  <option value="computer">Tablets</option>
                  <option value="gaming">Gaming</option>
                </select>
            </div>
            </div>

        <div class="products-page-items-list">
            <div class="products-page-item-image">
                <img src="//images.crutchfieldonline.com/ImageHandler/trim/620/378/products/2014/34/022/g022YAS203-f.jpg" alt="Owl Image" width="100%">

            </div>

            <div class="products-page-item-description">
                <div class="products-page-item-title"><h2><strong>Yamaha YAS-203</strong></h2></div>
                <div class="products-page-item-description-under-title"><h4>Powered home theater sound bar with wireless subwoofer and Bluetooth®</h4></div>
                <div class="products-page-item-rating"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"></div>
                <div class="products-page-item-price"><h3><strong>$299.99</strong></h3></div>
                <div class="add-to-cart" style="width: 175px; margin: 10px;"><strong>Add to Cart</strong></div>
                <div class="products-page-item-view-item"><strong>View Item</strong></div>
            </div>

        </div>

{{end}}

{{block right_sidebar}}


<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Tvs</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/TV.jpg')}}" alt="Owl Image" width="100%"></div>
<div class="category-title" style="margin: 10px; padding-top: 20px; border-bottom: 1px solid #d3d3d3;"><h3 style="margin: 0; padding: 0px;">Shop Mac</h3></div>
<div class="side-image" style="margin-top: 20px;"><img src="{{=URL('static', 'images/Explore.jpg')}}" alt="Owl Image" width="100%"></div>
{{end}}

{{block bottom_ad}}
    <div style="width: 100%;">
        <div class="product-advertisement">
                <img src="{{=URL('static','images/CannonAd.jpg')}}"/>
        </div>
    </div>
{{end}}


