@charset "UTF-8";
/* CSS Document */

.cursor-pointer{
	cursor:pointer;
}

body{
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}

#user_welcome {
	display: none;
}

.header-area {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo-container {
	width: 30%;
}

#feature-item {
	max-height: 200px;
	z-index: 1;
}

.feature-item img{
	width: 100%;
	max-height: 300px;
}

.owl-wrapper-outer {
	z-index: 1;
}

.side-categories {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	margin:10px;
}

.category-drop-down {
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
	width: 250px;
	height: 35px;
	font-family: inherit;
	font-size: 20px;
	margin-left: 15px;
}

.side-image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:10px;
}
.footer {
	bottom: auto;
}

#product-carousel .item{
    margin: 3px;
}

#product-carousel .item img{
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
}

#product-carousel2 .item{
    margin: 3px;
}

#product-carousel2 .item img{
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
}

#product-carousel3 .item{
    margin: 3px;
}

#product-carousel3 .item img{
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
}

.smaller-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.owl-carousel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.category-title {
	margin: 0 auto;
	width: 100%;
	color: #282828;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item-price-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0px;
}

.item-price {
	color: #00c4ff;
}
.item-text h5 {
	margin: 0;
}

.add-to-cart {
	width: 100%;
	padding: 10px 20px;
	background: #ff5a5f;
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
}

#product-image {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#product-image:hover{
	background: #f8f8f8;
}

.owl-next img{
	width: 30px;
}

.owl-prev img{
	width: 30px;
}

.owl-buttons {
	margin-top: -33px;
	float: right;
}

.newsletter-container {
	padding: 30px;
	margin-top: 60px;;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	color: #ffffff;
	background: #3e3f3a
;
}

.newsletter-title {
	margin-bottom: 15px;
}

.newsletter-input {
	width: 300px;
	border-style: none;
	border-radius: 5px 0px 0px 5px;
	margin-top: 10px;
	color: #888888;
	padding: 10px;
}

.newsletter-button {
	height: 40px;
	border-radius: 0px 5px 5px 0px;
	margin-top: -3px;
	padding: 10px;
	border-style: none;
	background: #ff5a5f;
}

.category-container {
	margin-top: 40px;
	padding: 10px;
	background: #efefef;
}

.product-advertisement {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 250px;
	padding: 45px;
	margin: 45px 0px;
}

.category-list-title {
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
}

.category-row {
	display: flex;
	align-items: center;
	justify-content: center;

}

.category-row li {
	list-style-type: none;
	padding: 5px 20px;
}

.category-row li:hover {
	color: #ff5a5f;
	cursor: pointer;
}

/********************* Product List Page **********************/

.products-page-items-list {
	width: 100%;
	padding: 20px;
	display: flex;
	border-bottom: 1px solid #cccccc;
}

.products-page-item-image {
	width: 30%;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products-page-item-description {
	width: 70%;
}

.products-page-item-title {
	margin: 10px;
}

.products-page-item-description-under-title {
	margin: 10px;
}

.products-page-item-rating {
	margin: 10px;
}

.products-page-item-price {
	margin: 10px;
}

.products-page-item-view-item {
	margin: 10px;
}

/********************* Product Page ***************************/
.product-outer-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
}

.product-container {
	width: 100%;
	max-width: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0px 0px 0px;
}

.product-image-carousel {
	width: 65%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.product-item-description-container {
	width: 35%;
	height: 300px;
	padding: 20px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.product-item-description-title h4 {
	margin: 5px 0px;
}

.product-price {
	font-size: 20px;
	margin: 5px 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	margin: 0;
	padding: 0;
}

.product-description {
	max-width: 900px;
	margin-top: 40px;
}

.product-item-description-title h3 {
	margin: 5px 0px;
}

.item-number {
	margin: 5px 0px;
}

.rating {
	margin: 5px 0px;
}

.in-stock {
	margin: 5px 0px;
	color: #ff5a5f;
}

/****** product review ??? location **/
#review-container{
	padding:10px;
	background: #eeeeee;
	margin-bottom:1px;
}

#add_review_container{
	width: 100%;
	max-width: 800px;
}

#customer_review_txt{
	width:100%;
	height: 200px;
}

#add_review_name {
	padding: 8px;
	width: 100%;
}

.btn_save {
	width: 175px;
	border-radius: 5px;
	padding: 10px 5px;
	background: #ff5a5f;
	color: white;
	border: none;
	margin-top: 10px;
}

/************cart css****************/
#cart_alert{
	display: flex;
	justify-content: center;
	width: 100%;
	z-index:10;
	display:none;
	border-radius: 5px;
}

#inner_cart_alert {
	background:white;
	position:fixed;
	z-index:11;
	top: 5%;
	max-width: 800px;
	border-radius: 5px;
}

#close_cart_alert {
	margin: 5px;
	cursor: pointer;
}

.innercart-description-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.innercart-image-container {
	width: 35%;
	margin-right: 15px;
}

.innercart-image-container img {
	height: auto;
	width: 100%;
}

.innercart-description-container {
	width: 65%;
}

.innercart-item-description {
	padding: 5px 0px;
}

.innercart-item-review {
	padding: 5px 0px;
}

.innercart-item-price {
	padding: 5px 0px;
}

.added-to-cart-notification {
	width: 100%;
	padding: 20px;
	background: #333333;
	color: #ffffff;
}

#product-carousel4 .item{
    margin: 3px;
}

#product-carousel4 .item img{
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
}

.smaller-may-like-wrapper {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

#product-image-you-like {
	height: auto;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

/********************Contact Page************************/
#contact_form_container{
	margin:0 auto;
	height:auto;
	width:100%;
}

#contact_form_container form{
	margin:0 auto;
	margin-top:20px;
	width:60%;
}

#contact_form_container input[type='text']{
	width:100%;
	margin: 10px;
	border-radius:5px;
	box-shadow: none;
	border:1px solid #cccccc;
	padding: 10px;
	font-size: 18px;
}

#contact_form_container input[type='text']:focus{
	outline: none !important;
	border-radius:5px;
}

#contact_form_container button{
	padding:5px;
	margin: 10px;
	border-radius:5px;
	padding: 15px 40px;
	font-size: 18px;
	background: #ff5a5f;

}

#contact_form_container button[type='submit']:focus{
	outline: none !important;
	border-radius:5px;
}

#contact_form_container textarea{
	width:100%;
	margin: 10px;
	padding:5px;
	border-radius:5px;
	border:1px solid #cccccc;
	padding: 10px;
	font-size: 18px;
}

#contact_form_container textarea:focus {
	outline: none !important;
	border:1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
}

#contact_name_error{
	display:none;
}

#contact_email_error{
	dispay:none;
}

#contact_message_error{
	display:none;
}

/***********************Product Order*********************/
.po{
	font-size: 20px;
	padding: 25px;
}
h1.po_title{
	color: #9d1e15;
}
.po_title{

}

.po_order{
	margin: 0 auto;
	width: 60%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding: 5px;
}

.po_order_item{
	border-bottom: dotted indianred;
}

.po_detail {
	font-size: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.po_order_list{
	border: 1px solid grey;
	padding: 15px;
}

.po_item_order{
	width: 1000px;
	padding-bottom: 5px;
}

.po_item_price{
	padding-bottom: 5px;
}

.po_order_misc {
	margin-top: 50px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 70%;
}

ul.po_order_misc_info_1{
	display: inline-block;
	float: left;
}

ul.po_order_misc_info_2{
	display: inline-block;
	float: right;
}

.po_misc{
	text-align: right;
}

.po_payment_detail{
	margin-top: 20px;
	padding-botom: 10px;
}

/***********************Order History*********************/

.order_history{
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.oh{
	text-align: left;
}

.oh_order{
	width: 1000px;
	text-align: center;
}

a.purchase_order {color:darkred; background-color:transparent; text-decoration:none}
a.purchase_order:hover   {color:black; background-color:transparent; text-decoration:underline}

/***********************CHECKOUT*******************/
.checkout-page-products-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.checkout-page-products-list-container {
	width: 1000px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

#check_product_review {
	width: 50%;
	padding: 20px;
}

.check_individual_product {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.product_img {
	padding-right: 5px;
}

.checkout-page-payment-and-address {
	padding: 20px;
	width: 50%;
}

.check_shipping {

}

.check_payment {

}

.show_error {
	color: red;
}

.data_entry input {
	width: 100%;
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}

/***********************SEARCH*********************/
#search_icon{
 	text-align:center;
	width:40px;
	color:black;
}

#search_icon:hover{
	background: #2d2d2d;
	cursor: pointer;
}

#search_box input[type="text"]{
	height:30px;
	color:white;
	background:black;
	border:none;
	border-bottom:solid 1px white;
}

#search_box input[type="text"]:focus{
	outline:none;
}

#search_box{
	display:none;
}

#search_box form:hover{
	background:black;
}

#search_submit_button{
	padding:0px;
	width:40px;
	height:30px;
	background:black;
	border-radius:5px;
}

#search_submit_button:hover{
	box-shadow: none;
	color:#2d2d2d;
}

/********override bootcrap***********/
.dropdown{
	float:right;
	height:auto;
	font-size:16px;
}

.dropdown a:hover{
	color:black;
}

.dropdown:hover{
	background:#5a5a5a;
}

.dropdown-menu{
	margin-top:0px;
	background:#000;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border:none;
}

.divider{
	display:none;
}

/******************** LOGIN / SIGNUP BUTTONS*********************/
#signup_login{
	position:absolute;
	top:10px;
	width:350px;
	margin-left:85%;
}

#override-signup{
	padding:0;
	font-size:16px;
	display:inline-block;
	background:#2d2d2d;
}

#override-signup:hover{
	box-shadow:none;
	background:#2d2d2d;
	color:#ff5a5f;
}

#override-login{
	padding:0;
	font-size:16px;
	display:inline-block;
	background:#2d2d2d;
}

#override-login:hover{
	box-shadow:none;
	background:#2d2d2d;
	color:#ff5a5f;
}